*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Pacifico', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Handlee', cursive;
  font-family: 'Bad Script', cursive;
  margin: 0 auto;
  font-size: 3em;
  line-height: 1.71429;
  width: 100%;
  /*background-image: url(../img/fondogeneral.jpg);
  background-size: cover;*/
}

header{
  width: 100%;
  position: fixed;
  background-color: #16A085;
  opacity: .8;
  z-index: 1;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 25px;
}

li{
  list-style: none;
  border: 1.5px solid white;
  border-radius: 5%;
  width: 15%;
  cursor: pointer;
}

li>a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

i{
  display: none;
  justify-content:flex-end;
  color: white;
}

.imagenFondoHeader{
  background-image: url(../img/combi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 500px;
}

.titulosecc1{
  font-family: 'Pacifico', cursive;
  padding-right: 5%;
  font-size: 100%;
}

.contenedorPapa{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.titulosecc2{
  width: auto;
  text-align: center;
  font-family: 'Bad Script', cursive;
}
.contentsecc2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 45%;
  width: 100%;
}

.subsecc{
  display: flex;
  width: 100%;
  align-items: center;
}

.imgsecc2{
  width: 35%;
  height: 35%;
  border-radius: 40%;
  padding: 3%;
  opacity: .8;
}

.resumensecc2{
  text-align: justify;
  padding: 5%;
}

.seccvideo{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Bad Script', cursive;
  font-size: 160%;
  font-weight: bold;
  background-color: #16A085;
  opacity: .8;
}

.titulovideo{
  text-align: center;
}

.video{
  justify-content: center;
  /*width: 80%;*/
}

.contentform{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tituloform{
  font-family: 'Bad Script', cursive;
  font-size: 160%;
  font-weight: bolder;
  font-size: 100%;
  text-align: center;
}

.formulario{
  display: flex;
  justify-content: center;
}

form{
  width:30%
}

.info{
  font-family: 'Handlee', cursive;
  font-size: 60%;
  width:100%;
  margin:5%;
  /*border:*/
}

button{
  /*font-family: 'Sacramento', cursive;*/
  font-size:30%;
  margin-left:40%;
}

footer{
  background-color: #16A085;
  opacity: .9;
  font-size: 50%;
  text-align: center;
}
